
*{
    padding: 0px;
    margin: 0;
}

.productCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 305px;
}

.productCard h5{
    color: #8F8F8F;
    padding-top: 5px;
}

.product-name{
    color: #474747;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.product-image{
    width: 292px;
    height: 321px;
    border-radius: 4px;
}

.product-price-discount{
    font-size: 24px;
    color: #8F8F8F;
    text-decoration: line-through;
    padding-right: 5px;
}

.product-prices{
    color: #1F1F1F;
    font-size: 24px;

}

.product-price{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.product-price-original-price{
    font-size: 24px;
}